*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    --secondary-color:#222;
    --tertiary-color:#333;
    --light-color: #fff;
    scroll-behavior: smooth;
}

/* -----------------HEADER STYLING---------------- */

header {
  padding: 30px;
  background-color: #333;
  margin-bottom: 20px;
  color: rgb(190, 187, 187);
  text-align: center;
  }

  .my-logo {
    float: left;
    cursor: pointer;
  }

  h1 {

    display: inline-block;
  
  }

  .tixShare {
    background-color: #42DDE2;
    background-image: linear-gradient(
    45deg,
    #3E4FE4 16.666%,
    #4151E1 16.666%,
    #3772C0 33.333%,
    #3C7DA8 33.333%,
    #45BAC2 50%,
    #60C2BD 50%,
    #64E0D6 66.666%,
    #57EEC1 66.666%,
    #6BF3A8 83.333%,
    #45E0B9 83.333%);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

.tixShare:hover{
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}

.nav-hamburger {
  float: right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 97%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.nav-hamburger {
  float: right;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  opacity: 97%;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  text-decoration: none;
  font-weight: 700;
}

.sidenav a:hover{
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


body {
  background-image: linear-gradient(to top , rgba(0, 0, 0, 0.075), rgba(111, 213, 231, 0.753)) ;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    color: var(--light-color);
    line-height: 1.6;
}

/* --------HEADER STYLING ENDS--------- */

footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #333;
  color: rgb(190, 187, 187);
  font-weight: 700;
  margin-top: 20px;
}

.kids-day:hover {
  opacity: 80%
}

/* li:hover {
  opacity:80%;
} */



h2 {
  display: flex;
  justify-content: center;
}

.ticket-group {
  display: block;
}

#card-info {
  display: block;
  margin-left: 55px;
}

.form-control {
  padding: 5px;
  width: 30%;
  margin:7px;
}

button,
.btn {
  padding:10px;
  background-color:rgb(49, 78, 240);
  color:white;
  border: none;
  font-weight: 700;
  font-size: 15px;
  border-radius: 2px;
  text-decoration: none;
  margin: 5px;
}

.btn:hover {
  opacity: 80%;
}


section {
  background-color: white;
  color: black;
  margin: 0 auto;
  padding:10px;
  width: 80%;
  padding: 1%;
  border-radius: 5px;
  box-shadow:1px 2px 6px;
}

.ticket-container {
  margin-bottom: 7px;
  margin-top: 7px;
}

article {
  padding:10px;
  background-color: rgb(207, 207, 207);
  border-radius: 2px;
}




@media screen and (max-width: 760px) {
  header {
    flex-direction: column;
}
.nav-content{
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: 80px;
}
.my-logo {
  height: 70px;
  width: 70px;
}


}
@keyframes rainbow-text-simple-animation-rev {
  0% {
      background-size: 650%;
  }
  40% {
      background-size: 650%;
  }
  100% {
      background-size: 100%;
  }
}
@keyframes rainbow-text-simple-animation {
  0% {
      background-size: 100%;
  }
  80% {
      background-size: 650%;
  }
  100% {
      background-size: 650%;
  }
}





