body{
    background-color: rgb(70, 100, 182);
}


.header{
  text-align: center;
  background:repeating-linear-gradient(
	70deg,
	rgb(15, 2, 63),
	rgb(14, 99, 46) 20px,
	rgb(31, 42, 202) 40px);
  -webkit-background-clip: text;
  color: transparent;
  mix-blend-mode:color-burn;
  /* mix-blend-mode:color-dodge; */
  /* mix-blend-mode: multiply; */
  /* mix-blend-mode: overlay; */
  /* mix-blend-mode: normal; */


img{
    padding: 15px 50px 15px 0px;  
    display: flex;
    max-width: 800px;
    float: left;
}




a:link, a:visited {
    background-color: rgb(25, 40, 122);
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: x-large;
  }
  
  a:hover, a:active {
    background-color: transparent;
  }
  
  .left {
    float: left;
    width: 300px;
    border: 3px solid #000000;
    padding: 10px;
  }

li {
  padding: 35px;
}