
* {
box-sizing: border-box;
margin: 0;
padding:0;

}

/* _______________HEADER STYLING___________ */

h1 {
display: inline-block;
}



header {
padding: 30px;
background-color: #333;
margin-bottom: 20px;
color: rgb(190, 187, 187);
}

.my-logo {
    float: left;
}

/* _____________NAVBAR EL's_______________ */
.nav-hamburger {
    float: right;
}

.tixShare {
  background-color: #42dde2;
  background-image: linear-gradient(
  45deg,
  #3e4fe4 16.666%, 
  #4151e1 16.666%, 
  #3772c0 33.333%, 
  #3c7da8 33.333%, 
  #45bac2 50%, 
  #60c2bd 50%, 
  #64e0d6 66.666%, 
  #57eec1 66.666%, 
  #6bf3a8 83.333%, 
  #45e0b9 83.333%);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}
    
.tixShare:hover{
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
}




.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    opacity: 97%;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  /* ____________BODY___________ */

body {
  font-family: 'Andada Pro', serif;
  background-image: linear-gradient(to top , rgba(0, 0, 0, 0.356), rgba(17, 0, 175, 0.884));
  font-size: 1rem;
  color: white;
  line-height: 1.3;
  text-align: center;
}

main {
    margin: 0 auto;
    width: 80%;
    height: 750px;
    background-color: #333;
    text-align: center;
    padding: 1%;
    border-radius: 5px;
    box-shadow:2px 3px 8px black;

}
.text-section {
  font-size: 20px;;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin:  10px auto;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

img {
  border-radius: 4px;
  margin: 4px;
}


/* ____________ASIDE__________ */

aside {
    width: 300px;
    padding: 10px;
    margin: 20px;
    background-color:#333;
    color:white;
    border-radius: 5px;
    box-shadow:1px 2px 6px black;
    display: inline-block;
}




/* _________EL'S USED ELSEWHERE_________  */

 
a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: 700;
    
}

button {
  width: 95%;
  background-color: rgb(49, 78, 240);
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
    margin: 5px;
    text-decoration: none;
    border: none;
    
    
}


.btn {
    background-color: rgb(49, 78, 240);
    color: white;
    padding: 5px;
    border-radius: 2px;
    margin: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  button:hover,
  .btn:hover {
      opacity: 80%;
  }


  footer {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #333;;
    color:rgb(190, 187, 187);
    font-weight: 700;
    margin-top: 20px;
  }


  #holiday-list {
    list-style: none;
  }

  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }



 /* ____________MEDIA SCREEN____________ */
  @media screen and (max-width:1600px) {
    li {
      text-align: center;
    }
  }
 
   @media screen and (max-width: 992px) {

    
    header {
        flex-direction: column;
    }
    
    .nav-content{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .my-logo {
        height: 70px;
        width: 70px;
        
    }

    main  {
        width: 80%;
        text-align: center;
    }
    
    .mySlides,
    .slide-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      }

      .dot {
        
      }
  
}

@media screen and (max-width: 768px) {

    
  header {
      flex-direction: column;
  }
  
  .nav-content {
      display: flex;
      justify-content: center;
      margin-top: 10px;
  }

  .my-logo {
      height: 50px;
      width: 50px;
      
  }

  main {
      width: 80%;
      text-align: center;
      padding: 20px;
  }

  .mySlides,
  .slide-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

}



  @keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}
  

  @keyframes rainbow-text-simple-animation {
    0% {
        background-size: 100%;
    }
    80% {
        background-size: 650%;
    }
    100% {
        background-size: 650%;
    }
}

